Checks: '
    *,
    -*-avoid-c-arrays,
    -*-vararg,
    -altera-id-dependent-backward-branch,
    -altera-unroll-loops,
    -altera-struct-pack-align,
    -bugprone-easily-swappable-parameters,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-init-variables,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-special-member-functions,
    -fuchsia-default-arguments-calls,
    -fuchsia-default-arguments-declarations,
    -fuchsia-overloaded-operator,
    -google-explicit-constructor,
    -google-readability-braces-around-statements,
    -google-readability-casting,
    -google-runtime-int,
    -hicpp-braces-around-statements,
    -hicpp-explicit-conversions,
    -hicpp-named-parameter,
    -hicpp-signed-bitwise,
    -hicpp-special-member-functions,
    -llvm-header-guard,
    -llvmlibc*,
    -misc-no-recursion,
    -misc-non-private-member-variables-in-classes,
    -modernize-use-trailing-return-type,
    -performance-no-automatic-move,
    -readability-braces-around-statements,
    -readability-function-cognitive-complexity,
    -readability-named-parameter,
    '
